<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header - 12A4 K58 MDA</title>
    <link rel="stylesheet" href="../styles/components.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="header-container">
        <div class="logo">
          <img src="../public/icons/logo.png" alt="Logo lớp 12A4" />
        </div>
        <div class="header-title">
          <h1>Kỷ Niệm Cấp 3 - Lớp 12A4-K58-MDA</h1>
        </div>
      </div>
      <div class="header-info">
        <p>Năm học: 2022 - 2025</p>
        <p id="visitor-count">Lượt truy cập: <span id="counter">0</span></p>
      </div>
    </header>
  </body>
</html>